@charset "UTF-8";
/*--- Fonte usada no Projeto ---*/
/* inter-200-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v20-latin-200.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v20-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: "Inter";
  src: url("fonts/inter-v20-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/inter-v20-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*--- CSS Reset ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.geral {
    background: url("img/fundo1.JPEG") no-repeat center center fixed;
    background-size: cover;
    font-family: "Inter";
}

/*--- Div Superior (BEM) ---*/
.home {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "menu menu menu menu";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

/*--- Elementos dentro da Div Superior (BEM) ---*/
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #011117;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}

.header__logo {
    width: 20vw;
    margin: 5px;
}

.header__tema {
    align-self: center;
    font-size: clamp(1.1rem, 3.5vw, 4.2rem);
    color: #f2f2ff;
    text-shadow:  0px 0px 2px  #BFDBF7;
}

/*--- Posição e Parametros da imagem de "menu hamburguer" (BEM) ---*/
.menu-img {
    grid-column: 3/4;
    justify-self: end;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.menu-img__item {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 2px 1px #BFDBF7);
}
/*--- Menu Superior (BEM) ---*/
.upper-menu {
    display: none;
    grid-column: 3/4;
}
.upper-menu__list {
    list-style: none;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    font-size: 1.5rem 1.8vw 2.5rem;
    font-weight: bold;
}
.upper-menu__link{
    text-decoration: none;
    color: #BFDBF7;
    cursor: pointer;
}

/*--- Menu Superior após ser ativo por Js ---*/
.upper-menu--ativo {
    display: block;
    position: absolute;
    height: auto;
    top: 10%;
    right: 50px;
    background-color: #022b3a;
    box-shadow: 0px 0px 5px #BFDBF7;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    z-index: 999;
    
}

/*--- Organização do Main (BEM) ---*/
.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    min-height: 40vh;
    grid-area: main;
    background-color: #011117aa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    color: #f7f7f7;
    overflow-y: hidden;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.main__tema{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 3.2rem);
    color: #f2f2ff;
}

/*---Estilos dos paragrafos do main (BEM) ---*/
.main__paragrafo-2, .main__paragrafo-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 50vw;
    background-color: #022b3a1d;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BFDBF7;
    padding: 10px;
    color: #ffffff;
    font-size: clamp(1rem, 1.8vw, 3.2rem);
    
}
.main__paragrafo-1, .main__paragrafo-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #022b3a1d;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BFDBF7;
    padding: 10px;
    color: #ffffff;
    font-size: clamp(1rem, 2.0vw, 2.2rem);
}

/*--- Imagem do Main (BEM) ---*/
.main__img {
    align-self: center;
    grid-row: 3/5;
    grid-column: 3/5;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #011117;
    margin-right: 5px;
}

/*--- Seção de Serviços (BEM) ---*/
.servicos{
    grid-column: 1/5;
    margin: 0;
    grid-area: menu;
    background-color: #011117;
    height: 10vh;
}
.servicos__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}
.servicos__nav__tema{
    color: #BFDBF7;
    font-size: clamp(1.2rem, 2.5vw, 3.2rem);
    margin-bottom: 5px;
}
.servicos__nav__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.servicos__nav__link{
    text-decoration: none;
    color: #f7f7f7;
    font-family: "Mona Sans", sans-serif;
    
}
.servicos__nav__link:hover {
    text-decoration: underline;
    color: #BFDBF7;

}

/*--- Seção Depoimentos (BEM) ---*/
.depoimentos {
    grid-column: 1/5;
    margin: 2px 10px;
    background-color: #022b3a1d;
    color: #f7f7f7;
    font-family: "Mona Sans", sans-serif;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px #BFDBF7;
    margin: 10px;

}
.depoimentos__tema {
    font-size: clamp(1.8rem, 2.5vw, 3.2rem);
    margin: 10px 0px;
    text-align: center;
}

/*--- Organização da seção depoimentos (BEM) ---*/
.depoimentos__div {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    height: 260px;
    color: #BFDBF7;
    justify-content: center;
    margin: 0 auto;
}

/*--- Config das imagens de depoimentos (BEM) ---*/
.depoimentos__div__img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #BFDBF7;
    
}
.depoimentos__div__img.ativo {
  opacity: 1;
}

/*--- Seção Contato (BEM) ---*/
.contato {
    grid-column: 1/5;
    background-color: #011c25;
    padding: 10px;
    text-align: center;
}
.contato__chamado {
    background-color: #011c25;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    color: #f7f7f7;
    text-align: center;
}
.contato__tema {
    color: #BFDBF7;
    margin-bottom: 10px;
    font-size: 1.9rem;
}
.contato__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    margin: 0 auto;
}
.contato__form__input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #BFDBF7;
}
.contato__form__txt {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #BFDBF7;
    resize: vertical;
}
.contato__form__btn {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #bfdbf7;
    color: #022b3a;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

/*--- Direitos da Pagina ---*/
.footer {
    grid-column: 1/5;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 400px) {
    .header__tema {
        font-size: clamp(1rem, 4.5vw, 3.5rem);
    }
    .menu-img {
        width: 80%;
    }
    .main__img{
        grid-column: 1/5;
        grid-row: 6/7;
        width: 95%;
        margin: 0 auto;
    }
    [class^="main__p"] {
        font-size: clamp(1rem, 3.5vw, 2.2rem);
        grid-column-start: 1;
        grid-column-end: 5;
        max-width: 100%;
        margin-top: 0px;
    }
    .servicos {
        font-size: clamp(0.8rem, 3.5vw, 1.2rem);
    }
}
/*--- Realizado alguns ajustes para melhor apresentação do menu superior, ajuste de imagens de depoimentos e adequação ao sistema BEM ---*/
@media (min-width: 600px) { 
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
    }
    .header__logo{
    width: 10vw;
    margin: 5px;
    }
    .header__tema {
        width: 100%;
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .upper-menu {
        grid-column: 4/5;
        grid-row: 1/2;
        display: flex;
        padding: 10px;
    }
    .upper-menu__list{
        display: flex;
        gap: 20px;
        text-align: center;
        font-size: clamp(1.2rem, 1.8vw, 2.5rem);
    }
    .upper-menu__link:hover {
        background-color: #bfdbf7;
        text-decoration: none;
        color: #022b3a;
        padding: 5px;
        border-radius: 5px;
    }
    .menu-img {
        display: none;
    }
    .main__tema{
        background-color: #011c2500;
        color: #f7f7f7;
        grid-column-end: 3;
        border-radius: 5px;
        padding: 5px;
    }

    .main__img{
        grid-column: 3/5;
        grid-row: 1/6;
    }
    [class^="main__p"] {
        grid-column-end: 3;
        background-color: #011c2500;
        padding: 20px;
        font-size: clamp(1rem, 1.8vw, 2.2rem);
    }
    .servicos{
        grid-column: 1/5;
        margin: 0;
        grid-area: menu;
        background-color: #011117;
        height: 15vh;
    }
    .servicos__nav__link:hover {
        background-color: #bfdbf7;
        text-decoration: none;
        color: #022b3a;
        padding: 10px;
        border-radius: 5px;
        }
    .depoimentos {
        max-width: 100vw;
        max-height: 100%;

    }
    .depoimentos__div {
        width: 100%;
        max-width: 850px;
        height: 68vh;
    }
}