@charset "UTF-8";
/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("img/fundo1.JPEG") no-repeat center center fixed;
    background-size: cover;
}
/*Div Superior*/
.home {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "menu menu menu menu";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}
/*--- Elementos dentro da Div Superior ---*/
.logo {
    width: 20vw;
    margin: 5px;
}
header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #011117;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}
header h1 {
    
    font-family: "Mona Sans", sans-serif;
    align-self: center;
    font-size: clamp(1.1rem, 3.5vw, 4.2rem);
    color: #f7f7f7;
    text-shadow:  0px 0px 2px  #BFDBF7;
}

/*--- Posição e Parametros da imagem de "menu hamburguer" ---*/
.menuIMG {
    grid-column: 3/4;
    justify-self: end;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.menuIMG img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 2px 1px #BFDBF7);
}
/*--- Menu Superior ---*/
.menuSuperior {
    display: none;
    grid-column: 3/4;
}
nav ul {
    list-style: none;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}
.menuSuperior a{
    text-decoration: none;
    color: #BFDBF7;
    cursor: pointer;
}
.ativo li a:hover {
    background-color: #bfdbf7;
    text-decoration: none;
    color: #022b3a;
    padding: 2px 3px;
    border-radius: 5px;
    
}
/* Menu Superior após ser ativo por Js*/
.menuSuperior.ativo {
    display: block;
    position: absolute;
    height: auto;
    top: 10%;
    right: 50px;
    background-color: #022b3a;
    box-shadow: 0px 0px 5px #BFDBF7;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    z-index: 999;
    
}
/*--- Organização do Main ---*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    min-height: 40vh;
    grid-area: main;
    background-color: #011117aa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    color: #f7f7f7;
    overflow-y: hidden;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

main h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-family: "Mona Sans";
    font-size: clamp(1.5rem, 2.5vw, 3.2rem);
}
/*---Estilos dos paragrafos do main---*/
.p2, .p3 {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 50vw;
    background-color: #022b3a1d;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BFDBF7;
    padding: 10px;
    color: #ffffff;
    font-size: clamp(1rem, 1.8vw, 3.2rem);
    
}
.p1, .p4 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #022b3a1d;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BFDBF7;
    padding: 10px;
    color: #ffffff;
    font-size: clamp(1rem, 2.0vw, 2.2rem);
}
/*--- Imagem do Main ---*/
.mobile {
    align-self: center;
    grid-row: 3/5;
    grid-column: 3/5;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #011117;
    margin-right: 5px;
}
section {
    grid-column: 1/5;
    margin: 0;
}
.menuServicos {
    grid-area: menu;
    background-color: #011117;
    height: 7vh;
    padding: 5px;
    text-align: center;
}
.servicos {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
section li a {
    text-decoration: none;
    color: #f7f7f7;
    font-family: "Mona Sans", sans-serif;
    
}

/* Seção Depoimentos */
.setDepoimentos {
    grid-column: 1/5;
    margin: 2px 10px;
    background-color: #022b3a1d;
    color: #f7f7f7;
    font-family: "Mona Sans", sans-serif;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px #BFDBF7;
    margin: 10px;

}
aside h2 {
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 3.2rem);
}

/*--- Organização da seção depoimentos ---*/
.depoimentos {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    height: 260px;
    color: #BFDBF7;
    justify-content: center;
    margin: 0 auto;
}
.setDepoimentos h2 {
    font-size: clamp(1.8rem, 2.5vw, 3.2rem);
    margin: 10px 0px;
}

/*--- Config das imagens de depoimentos ---*/
.depoimentos img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #BFDBF7;
    
}
.depoimentos img.ativo {
  opacity: 1;
}

/*--- Paragrafo após os depoimentos ---*/
.cliente {
    background-color: #011c25;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    color: #f7f7f7;
    text-align: center;
}

/*--- Seção Contato ---*/
.contato {
    grid-column: 1/5;
    background-color: #011c25;
    padding: 10px;
    text-align: center;
}
.contato h2 {
    color: #BFDBF7;
    margin-bottom: 10px;
    font-size: 1.9rem;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.formulario input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #BFDBF7;
}
.formulario textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #BFDBF7;
    resize: vertical;
}
.formulario button {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #bfdbf7;
    color: #022b3a;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

/*--- Direitos da Pagina ---*/
footer {
    grid-column: 1/5;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

/*--- ---*/
@media (max-width: 420px) {
    header h1 {
        font-size: clamp(1rem, 4.5vw, 3.5rem);
    }
    .menuIMG img {
        width: 80%;
    }
    .mobile {
        grid-column: 1/5;
        grid-row: 6/7;
        width: 95%;
        margin: 0 auto;
    }
    .p1, .p4, .p2, .p3 {
        font-size: clamp(1rem, 3.5vw, 2.2rem);
        grid-column-start: 1;
        grid-column-end: 5;
        max-width: 100%;
        margin-top: 0px;
}
    .servicos {
        font-size: clamp(0.8rem, 3.5vw, 1.2rem);
    }

}

@media (min-width: 700px) { 
    header h1 {
        margin: auto;
    } 
    .logo {
    width: 10vw;
    margin: 5px;
    }

    main h2 {
        background-color: #011c2500;
        color: #f7f7f7;
        grid-column-end: 3;
        border-radius: 5px;
        padding: 5px;
    }

    .mobile {
        grid-column: 3/5;
        grid-row: 1/6;
    }

    .p1, .p4 {
        grid-column-end: 3;
        background-color: #011c2500;
        padding: 20px;
        font-size: clamp(1rem, 2.0vw, 2.2rem);
    }
    .p2, .p3 {
        background-color: #011c2500;
        padding: 20px;
        font-size: clamp(1rem, 1.8vw, 2.2rem);
    }
    .menuServicos a:hover {
        background-color: #bfdbf7;
        text-decoration: none;
        color: #022b3a;
        padding: 10px;
        border-radius: 5px;
        }
    .depoimentos {
        max-width: 850px;
        height: 450px;

    }
    .depoimentos img {
        width: 750px;
    }
}